/* From Uiverse.io by JaydipPrajapati1910 */ 
.loader {
  width: 44px;
  height: 44px;
  position: fixed;
  top: 10;
  right: 0;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: fixed;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 9px at 50% 50%,#0000 94%, #ff4747);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
  




